# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
Include/
Lib/
Scripts/
pyvenv.cfg

# existing dbs
dbs/
*.db
!outline.db

# Any created files
*.json
*.docx
*.pdf

# Give the samples
!sample*.json

# Environment variables
.env

# Log files and backups
*.log
*.back*

# OS-specific files
.DS_Store
Thumbs.db