# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
Include/
Lib/
Scripts/

# existing dbs
dbs/
*.db

# Any created files
*.json
*.docx
*.pdf

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db